<nb-layout>
  <nb-layout-header>
    <app-grid-row align-items="center">
      <app-grid-row [size]="1" align-items="center">
        <img src="../assets/logo.png" class="site-icon" alt="site icon">
        <h3>УСИК</h3>
      </app-grid-row>
      <button nbButton ghost (click)="openAuthorInfo()">Автор</button>
    </app-grid-row>
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
