<nb-layout>
  <nb-layout-column class="wrapper">
    <nb-card accent="info" class="form">
      <nb-card-header>Вход</nb-card-header>
      <nb-card-body>
        <form [formGroup]="userInput">
          <div class="input-field">
            <app-grid-row [size]="12">
              <label for="login">
                <span class="input-label">Введите логин</span>
              </label>
            </app-grid-row>
            <app-grid-row [size]="12">
              <app-grid-row-static [size]="10">
                <input type="text" formControlName="login" name="login" fullWidth nbInput />
              </app-grid-row-static>
            </app-grid-row>
            <app-grid-row [size]="12">
              <app-grid-row-static [size]="10">
                <nb-alert class="alert" status="warning" *ngIf="authDataControls.login?.invalid">
                  Поле "Логин" должно быть заполненным
                </nb-alert>
              </app-grid-row-static>
            </app-grid-row>
          </div>
          <div class="input-field">
            <label>
              <span class="input-label">Введите пароль</span>
              <app-grid-row [size]="12">
                <app-grid-row-static [size]="10">
                  <input [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password" name="password"
                    fullWidth nbInput />
                </app-grid-row-static>
                <app-grid-row-static [size]="2">
                  <button nbButton ghost (click)="toggleHidePassword()">
                    <nb-icon [icon]="isPasswordHidden ? 'eye-outline' : 'eye-off-2-outline'" pack="eva">
                    </nb-icon>
                  </button>
                </app-grid-row-static>
              </app-grid-row>
              <app-grid-row [size]="12">
                <app-grid-row-static [size]="10" *ngIf="authDataControls.password?.invalid">
                  <nb-alert class="alert" fullWidth status="warning">
                    Поле "Пароль" должно быть заполненным
                  </nb-alert>
                </app-grid-row-static>
              </app-grid-row>
            </label>
          </div>
          <button (click)="submit()" class="submit-button" nbButton [disabled]="!userInput.valid || isDataSended"
            status="primary" [nbSpinner]="isDataSended" nbSpinnerStatus="primary">
            Войти
          </button>
        </form>
      </nb-card-body>
      <nb-card-footer *ngIf="isAuthDataInvalid">
        <nb-alert status="danger" fullWidth>
          Неправильный логин или пароль
        </nb-alert>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
