<app-grid-row>
  <app-grid-row [size]="6">
    <nb-card class="width100" size="giant" [nbSpinner]="fetchingData.teachers.length === 0" status="primary">
      <nb-card-header>Учителя и предметы</nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item *ngFor="let teacher of fetchingData.teachers">
            <nb-accordion-item-header>
              {{ teacher.surname }} {{ teacher.name }} {{ teacher.patronymic }}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <nb-list>
                <nb-list-item *ngFor="let subject of teacher.subjects">
                  {{ subject.name }}
                </nb-list-item>
              </nb-list>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </app-grid-row>
  <app-grid-row [size]="6">
    <nb-card class="width100" size="giant" [nbSpinner]="fetchingData.students.length === 0" status="primary">
      <nb-card-header>Студенты</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let student of fetchingData.students">
            {{ student.surname }} {{ student.name }} {{ student.patronymic }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </app-grid-row>
</app-grid-row>
